/* About Section */
.about {
  width: 100%;
  height: 100%;
  margin: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* Left Column in About Section */
.about .left {
  text-align: left;
  margin: auto;
  padding: 1rem;
  max-width: 350px;
}

.about .left h1 {
  font-size: 2.5rem;
  padding: 0.5rem 0;
}

.about .left p {
  margin: 1.2rem 0;
}

/* Right Column in About Section */
.about .right {
  max-width: 700px;
}

/* Image Container in Right Column */
.right .img-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
  align-items: center;
  text-align: center;
}

/* Images in Right Column */
.right .img {
  max-width: 90%;
  border: 1px solid #333;
}

/* Top Image in Image Container */
.right .top {
  grid-column: 4 / -1;
  grid-row: 1;
  z-index: 5;
}

/* Bottom Image in Image Container */
.right .bottom {
  grid-column: 1 / span 8;
  grid-row: 1;
  padding-top: 20%;
  z-index: 6;
}

/* Media Query for Small Screens */
@media screen and (max-width: 768px) {
  .about {
    flex-direction: column;
  }

  .about .left {
    margin-bottom: 2rem;
  }

  .about .right {
    margin-top: 2rem;
  }

  .right .img-container {
    grid-column: 1 / -1;
  }
}